<div class="card-header">
  <div class="card">
    <h3>Búsqueda</h3>
    <div class="p-fluid">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
        <input [(ngModel)]="filtro" type="text" class="p-inputtext p-component" placeholder="Buscar por ISBN, título o autor"
          (input)="filtrarResultados()">
        <button pButton type="button" label="Buscar" icon="pi pi-search" (click)="filtrarResultados()"></button>
      </div>
    </div>
  </div>
  <div class="card">
    <p-table [value]="listaLibros" responsiveLayout="stack" [breakpoint]="'600px'" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="width: 25%"><span class="p-column-title"></span>ISBN</th>
          <th class="text-center" style="width: 25%"><span class="p-column-title"></span>Título</th>
          <th class="text-center" style="width: 25%"><span class="p-column-title"></span>Autor</th>
          <th class="text-center" style="width: 25%"><span class="p-column-title"></span>Editorial</th>
          <th class="text-center" style="width: 25%"><span class="p-column-title"></span>Estado</th>
          <th colspan="2" class="text-center" style="width: 25%"><span class="p-column-title"></span>Fila virtual</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-libro>
        <tr>
          <td class="text-center"><span class="p-column-title">ISBN</span>{{libro.isbn}}</td>
            <td class="text-center"><span class="p-column-title">Nombre</span>{{libro.nombre}}</td>
          <td class="text-center"><span class="p-column-title">Autor</span>{{libro.autor}}</td>
          <td class="text-center"><span class="p-column-title">Editorial</span>{{libro.editorial}}</td>
          <td class="text-center"><span class="p-column-title">Estado</span>{{libro.estado}}</td>
          <td class="text-center">
            <button pButton type="button" label="Obtener turno" [disabled]="libro.estado === 'Disponible'"
              (click)="pedirTurno(libro.isbn)"></button>
        </tr>
      </ng-template>
    </p-table>

  </div>
  <p-toast></p-toast>
</div>