<div class="card">
  <div class="card-header">
    <h3>Encuesta</h3>
    <p-table [value]="preguntas" responsiveLayout="stack" [breakpoint]="'600px'">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="width: 33%"><span class="p-column-title"></span>Pregunta</th>
          <th class="text-center" style="width: 33%"><span class="p-column-title"></span>Calificación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pregunta>
        <tr>
          <td>{{ pregunta.pregunta }}</td>
          <td class="text-center">
           
            <p-rating [(ngModel)]="pregunta.rating" [cancel]="false" [readonly]="false"
              (ngModelChange)="checkRespuestasCompletas()" class="text-center"></p-rating>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <div class="button-container d-flex justify-content-between align-right">
            <button pButton type="button" (click)="enviarRespuestas()" label="Enviar respuestas"
              [disabled]="!respuestasCompletas"></button>
          </div>
        </tr>
      </ng-template>
    </p-table>
    <p-toast></p-toast>
  </div>
</div>

  